<div class="container" style="margin-top: 100px;">
  <div class="row">
    <div class="col-6">
      <div class="create-new-dragon">
        <h1>Add your mighty Dragon here</h1>
<br>
      <%= simple_form_for @dragon do |f| %>
        <%= f.input :name %>
        <%= f.input :age %>
        <%= f.input :country_of_origin %>
        <%= f.input :location %>
        <%= f.input :price %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: "button-dragon-silver" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
