<div class="container">
  <div class="row">
    <div class="col-6">
      <%= simple_form_for @dragon do |f| %>
        <%= f.input :name %>
        <%= f.input :age %>
        <%= f.input :country_of_origin %>
        <%= f.input :location %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: "btn" %>
      <% end %>
    </div>
  </div>
</div>
