<div class="container-fluid">
<h1>This is the show</h1>
<br>
<h2>Look! a dragon</h2>

<h2><%= @dragon.name %></h2>
<h3><%= @dragon.age %></h3>
<h3><%= @dragon.country_of_origin %></h3>
<h3><%= @dragon.location %></h3>

<%= link_to 'Add a new dragon for rent!', new_dragon_path %>
<%= render 'shared/reservationform' %>




<!-- # review form -->
<h3>Reviews</h3>
  <% if @dragon.reviews.empty? %>
    <p>Be the first to let a review</p>
  <% else %>
    <ul class="list-group">
      <% @dragon.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <%= review.content %>
        </li>
      <% end %>
    </ul>
  <% end %>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <%= render "shared/review-form" %>
      </div>
    </div>


</div>
