<h1>This is the show</h1>
<br>
<h2>Look! a dragon</h2>

<h2><%= @dragon.name %></h2>
<h3><%= @dragon.age %></h3>
<h3><%= @dragon.country_of_origin %></h3>
<h3><%= @dragon.location %></h3>

<%= link_to 'Add a new dragon for rent!', new_dragon_path %>

