 <div class="account-body">
  <h1 class="account-title"><%= current_user.first_name%>'s account</h1>


    <h2 class="account-title" style="text-align: center;">Your Dragons </h2>
      <div class="account-dragon-list">
        <% @dragons.each do |dragon| %>
          <div class="account-dragon-card">
            <h3 class="dragon-card-title"><%= link_to "#{dragon.name}", edit_dragon_path(dragon.id), class:"dragon-card-title" %></h3>
            <div class="dragon-card-image">
              <%= cl_image_tag dragon.photo, height: 250, width: 300, crop: :fill %>
            </div>
            <h4 class="dragon-card-title"> age : <%= link_to "#{dragon.age}", edit_dragon_path(dragon.id), class:"dragon-card-title" %></h4>
            <h4 class="dragon-card-title"> country of origin : <%= link_to "#{dragon.country_of_origin}", edit_dragon_path(dragon.id), class:"dragon-card-title" %></h4>
            <h4 class="dragon-card-title"> Location : <%= link_to "#{dragon.location}", edit_dragon_path(dragon.id), class:"dragon-card-title" %></h4>
            <div class ="dragon-card-link">
              <%= link_to 'Delete',  dragon_path(dragon.id),data: { confirm: 'Are you sure?' }, method: :delete, class:"dragon-card-title"  %>
              <%= link_to 'Edit',  edit_dragon_path(dragon.id), class:"dragon-card-title"  %>
            </div>
          </div>
        <% end %>
      </div>

  <button class= "dragon-card-button" style="margin-right: 100px;"> <%= link_to "Add dragon", new_dragon_path(), class:"dragon-card-button"  %></button>

      <h2 class="account-title" style="margin-top: 50px; text-align: center">Your Reservations </h2>
      <div class="account-dragon-list">
        <% @reservations.each do |reservation| %>
          <div class="account-dragon-card">
            <h3 class="dragon-card-title"><%= link_to "#{reservation.dragon.name}", edit_dragon_path(reservation.dragon.id), class:"dragon-card-title" %></h3>
            <div class="dragon-card-image">
              <%= cl_image_tag reservation.dragon.photo, height: 250, width: 300, crop: :fill %>
            </div>
            <h4 class="dragon-card-title"> Start date : <%= reservation.start_date %></h4>
            <h4 class="dragon-card-title"> End date : <%= reservation.end_date %></h4>
            <div class ="dragon-card-link">
              <%= link_to 'Delete',  reservation_path(reservation.id),data: { confirm: 'Are you sure?' }, method: :delete, class:"dragon-card-title" %>
              <%= link_to 'Edit',  edit_reservation_path(reservation.id), class:"dragon-card-title"  %>
            </div>
          </div>
        <% end %>
      </div>
  <div style="display: flex; justify-content: space-around;margin-top: 50px; margin-bottom: 50px;">
    <%= link_to "Back to Dragons", dragons_path, class: "btn btn-primary"  %>
    <%= link_to "edit your information", edit_user_registration_path(), class: "btn btn-primary"  %>
  </div>
</div>
