 <div class="account-body" style="padding-top: 20px; background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1523308277941-07cb66d1041a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1566&q=80"; >
 <br>
<br>
<br>
<br>
<br>
    <h1 class="account-title" style="text-align: center;">Your Dragons </h1>
    <br>
    <br>
      <div class="account-dragon-list">
        <% @dragons.each do |dragon| %>
          <div class="account-dragon-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://i.pinimg.com/736x/5f/6d/41/5f6d41f1048a9cdea28a2146955e71af.jpg";>
            <h3 class="dragon-card-title"><%= link_to "#{dragon.name}", edit_dragon_path(dragon.id), class:"dragon-card-title" %></h3>
            <div class="dragon-card-image">
              <%= cl_image_tag dragon.photo, height: 250, width: 300, crop: :fill %>
            </div>
            <h4 class="dragon-card-title"> Age : <%= link_to "#{dragon.age} ", edit_dragon_path(dragon.id), class:"dragon-card-title" %>Years</h4>
            <h4 class="dragon-card-title"> Country of origin : <%= link_to "#{dragon.country_of_origin}", edit_dragon_path(dragon.id), class:"dragon-card-title" %></h4>
            <h4 class="dragon-card-title"> Location : <%= link_to "#{dragon.location}", edit_dragon_path(dragon.id), class:"dragon-card-title" %></h4>
            <h4 class="dragon-card-title"> Price : <%= link_to "#{dragon.price}", edit_dragon_path(dragon.id), class:"dragon-card-title" %></h4>
            <div class ="dragon-card-link" style="margin-bottom: 15px;">
              <%= link_to 'Delete',  destroy_dragon_path(dragon),data: { confirm: 'Are you sure?' }, class:"dragon-card-title"  %>
              <%= link_to 'Edit',  edit_dragon_path(dragon.id), class:"dragon-card-title"  %>
            </div>
          </div>
          <h4 class="dragon-card-title"> Age : <%= link_to "#{dragon.age} ", edit_dragon_path(dragon.id), class: "dragon-card-title" %>Years</h4>
          <h4 class="dragon-card-title"> Country of origin : <%= link_to "#{dragon.country_of_origin}", edit_dragon_path(dragon.id), class: "dragon-card-title" %></h4>
          <h4 class="dragon-card-title"> Location : <%= link_to "#{dragon.location}", edit_dragon_path(dragon.id), class: "dragon-card-title" %></h4>
          <h4 class="dragon-card-title"> Price : <%= link_to "#{dragon.price}", edit_dragon_path(dragon.id), class: "dragon-card-title" %></h4>
          <div class ="dragon-card-link" style="margin-bottom: 15px;">
            <%= link_to 'Delete',  destroy_dragon_path(dragon),data: { confirm: 'Are you sure?' }, class: "dragon-card-title"  %>
            <%= link_to 'Edit',  edit_dragon_path(dragon.id), class: "dragon-card-title"  %>
          </div>
        </div>
      <% end %>
    </div>

      <h2 class="account-reservation" style="margin-top: 50px; text-align: center">Your Reservations </h2>
      <div class="account-dragon-list">
        <% @reservations.each do |reservation| %>
          <div class="account-dragon-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://i.pinimg.com/736x/5f/6d/41/5f6d41f1048a9cdea28a2146955e71af.jpg";>
            <h3 class="dragon-card-title"><%= reservation.dragon.name %></h3>
            <div class="dragon-card-image">
              <%= cl_image_tag reservation.dragon.photo, height: 250, width: 300, crop: :fill %>
            </div>
            <h4 class="dragon-card-title"> Start date : <%= reservation.start_date %></h4>
            <h4 class="dragon-card-title"> End date : <%= reservation.end_date %></h4>
            <h4 class="dragon-card-title"> Total : <%= (reservation.start_date .. reservation.end_date).to_a.size * reservation.dragon.price %> Cow(s)</h4>
            <div class ="dragon-card-link" style="margin-bottom: 15px;">
              <%= link_to 'Delete', destroy_reservation_path(reservation), data: { confirm: 'Are you sure?' }, class:"dragon-card-title" %>
            </div>
          </div>
          <h4 class="dragon-card-title"> Start date : <%= reservation.start_date %></h4>
          <h4 class="dragon-card-title"> End date : <%= reservation.end_date %></h4>
          <h4 class="dragon-card-title"> Total : <%= (reservation.start_date .. reservation.end_date).to_a.size * reservation.dragon.price %> Cow(s)</h4>
          <div class ="dragon-card-link" style="margin-bottom: 15px;">
            <%= link_to 'Delete', destroy_reservation_path(reservation), data: { confirm: 'Are you sure?' }, class: "dragon-card-title" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="container">
      <!-- <div class="button-box"> -->
      <div class="d-flex flex-column align-items-center my-4">
        <!-- <div style="display: flex; justify-content: space-around;margin-top: 50px; margin-bottom: 50px;"> -->
        <div class="py-3">
          <%= link_to "Back to Dragons", dragons_path, class: "button-dragon-silver"  %>
        </div>
        <div class="py-3">
          <%= link_to "edit your information", edit_user_registration_path(), class: "button-dragon-silver"  %>
        </div>
        <div class="py-3">
          <%= link_to "Add dragon", new_dragon_path(), class: "button-dragon-silver" %>
        </div>
      </div>
    </div>
  </div>
</div>

